@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .banner{
        @apply overflow-hidden;
    }

    /* START: baneer-background  */
.baneer-background {
    margin: auto;
    overflow: auto;
    background: linear-gradient(315deg, rgb(104 29 114) 3%, rgb(21 14 103) 38%, rgb(24 90 123) 68%, rgb(112 2 255) 98%);
    /* linear-gradient(315deg, rgb(231, 12, 217) 3%, rgb(7, 122, 236) 38%, rgb(3, 228, 213) 68%, rgb(95, 4, 213) 98%); */
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @apply h-[100vh];
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 15%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    @apply absolute h-[65rem] md:h-[55rem];
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

/* END: baneer-background  */

.banner {
    @apply relative ;
}

/* .banner .banner-content {
    @apply z-10 flex justify-center relative;
} */


/* .banner .banner-content h2 {
    color: #413e66;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
    @apply text-baseThree;
  } */
  
  /* .banner .banner-content h2 span {
    @apply text-baseThree;
  }
   */
  /* .banner .banner-content .btn-get-started,
  .banner .banner-content .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #1bb1dc;
    color: #fff;
  } */
  
  /* .banner .banner-content .btn-get-started:hover,
  .banner .banner-content .btn-services:hover {
    background: #0a98c0;
  } */
}