:root[data-theme="custom"] {
    /* colors */
  
   /* brand color */
   --color-brand: rgb(14 165 233);
  
   /* theme color(s) */
   --color-body-background: rgb(179, 179, 183);
   --color-body: rgb(55, 51, 51);
   --color-box-background:rgb(75, 95, 109);
  }