:root[data-theme="dark"] {
   /* brand color */
   --color-brand-primary: rgba(14, 165, 233, 1);
   --color-brand-secondary: rgba(3, 124, 178, 1);
 
   /* theme color(s) */
   --color-body-background: rgba(0, 0, 0,1);
   --color-body: rgba(255, 255, 255,1);
   --color-section-background:rgba(255, 255, 255, 0.15);
   --color-box-border:rgba(0,0,0,0.3);
   --color-box-shadow:rgba(255, 255, 255 ,1);
  }