:root[data-theme="light"] {
  /* colors */

  /* brand color */
  --color-brand: rgb(14 165 233);

  /* theme color(s) */
  --color-body-background: rgb(255, 255, 255);
  --color-body: rgb(0, 0, 0);
  --color-box-background-:rgb(147, 143, 143);
}
