:root {
    --color-1: #b51e25;
    --color-2: #680e0e;
    --color-3: #605a5a;
    --color-4: #e9ec9d;
    --color-5: rgb(181, 30, 37, 0.1);
    --color-white: #FFFFFF;
    --color-black: #000000;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.02em;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ******************************** */
/* Default - Mobile */

.body-content {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

/* Header */
#header-wrapper,
header,
footer,
#footer-wrapper,
#intro-wrapper {
    display: flex;
    justify-content: center;
}

#header-wrapper {
    z-index: 1;
}

header {
    box-shadow: 0 0.3em 0.2em rgba(39, 39, 39, .2);
    width: 100%;
    background-color: var(--color-white);
}

header {
    margin: 0 0 0.2em 0;
}

.logo img {
    height: 6em;
}

.sign-in,
.menubar {
    display: none;
}

/* Header End */

/* Banner */

.banner-wrapper,
.banner {
    display: flex;
    justify-content: center;
}

.banner img {
    width: 100%;
    height: 200px;
}

/* Banner End*/

/* Menu strip */
#menu-strip-wrapper {
    display: flex;
    background-color: var(--color-1);
    justify-content: space-between;
    padding: 0.8em;
    position: sticky;
    top: 0;
}

#menu-strip-wrapper .menu-item,
#menu-strip-wrapper .menu-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-4);
    font-size: 1em;
    cursor: pointer;
}

#menu-strip-wrapper .menu-item a {
    font-size: large;
}

#menu-strip-wrapper .menu-item i {
    margin: 0.2em;
}



/* Intro */
.title {
    font-size: 1.7em;
    color: var(--color-1);
    margin: 0.8em;
}

#intro-wrapper,
#location-wrapper,
#room-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#location-wrapper {
    background-color: var(--color-5);
}

.location,
.room {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro .intro-img {
    display: none;
}

.intro .intro-description p,
.location .location-description p,
.room .room-description p {
    padding: 0 1em;
    font-size: 1.2em;
    line-height: 1.5em;
    color: var(--color-3);
    text-align: justify;
}

.intro .intro-description .intro-button,
.location .location-button,
.room .room-button {
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

.location .location-img,
.room .room-img {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.location .location-img img,
.room .room-img img {
    width: 80%;
    height: 15em;
    box-shadow: 0px 0em 1em 10px rgb(24 23 23 / 38%);
}

.primary-button {
    background-color: var(--color-1);
    color: var(--color-4);
    padding: 0.5em 1.5em;
    font-size: 1em;
    cursor: pointer;
    border: 0.1em solid var(--color-4);
    border-radius: 0.5em;
}

.secondary-button {
    background-color: var(--color-white);
    color: var(--color-1);
    padding: 0.5em 1.5em;
    font-size: 1em;
    cursor: pointer;
    border: 0.1em solid var(--color-4);
}

.primary-button:hover {
    background: var(--color-white);
    border: 0.1em solid var(--color-1);
    color: var(--color-1);
}


/* Footer */
#footer-wrapper {
    background-color: var(--color-black);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
}

.social-media {
    color: var(--color-4);
    display: flex;

}

.social-media-icon {
    width: 1.8em;
    height: 1.8em;
    border-radius: 0.5em;
    background-color: var(--color-3);
    margin: 0.3em 0.8em;
    font-size: 1em;
    display: flex;
    padding: 0.4em;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}


.copyright {
    color: var(--color-white);
    margin: 0.5em 0 0 0;
}

/* Side-nav */
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-2);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3.5em;
}

.side-nav .menu-item {
    padding: 0.5em 0.5em 0.7em 2em;
    text-decoration: none;
    font-size: 1.3em;
    color: var(--color-4);
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

.side-nav i {
    font-size: 0.8em;
    width: 1em;
}

.side-nav .menu-name {
    padding-left: 0.5em;
}

.side-nav .menu-item:hover {
    color: var(--color-white);
}

.side-nav .closebtn {
    position: absolute;
    top: 0.2em;
    right: 0.5em;
    font-size: 2.5em;
    color: var(--color-4);
}



/* Book Now */
.check-in,
.check-out,
.adult,
.child {
    width: 100%;
    margin: 0.5em 0em;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    padding: 0.5em 0;
    border-bottom: 1px solid var(--color-1);
    color: var(--color-3);
    position: relative;
}

#adults_selection_box,
#child_selection_box,
#checkin_calender,
#checkout_calender {
    position: absolute;
    top: 1.8em;
    z-index: 1;
    width: 100%;
}

#selected_checkin_date,
#selected_checkout_date,
#selected_adults_data,
#selected_child_data {
    color: var(--color-2);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.hidden {
    visibility: hidden;
    /* display: none; */
}


.dropdown-box {
    min-height: fit-content;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 12px;

    /* border-radius: 15px; */
    background: var(--color-white);
    width: 100%;
    box-shadow: 0px 0em 0.2em var(--color-black);
}

.dropdown-item {
    text-align: right;
    margin: 0.5em 0;
    padding: 0.2em;
    cursor: pointer;
}

.dropdown-item:hover {
    background: var(--color-1);
    color: var(--color-white);
}

.dropdown-item:first-child {
    margin-top: 0;
}

.dropdown-item:last-child {
    margin-bottom: 0;
}

.booknow-lg {
    display: none;
}

#checkin_calender_button,
#checkout_calender_button,
#adults_selection_button,
#child_selection_button {
    cursor: pointer;
}

#checkin_calender_button:hover,
#checkout_calender_button:hover,
#adults_selection_button:hover,
#child_selection_button:hover {
    color: var(--color-1);
}

#banner-wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    position: relative;
}


.full {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
}

.zoom {
    animation: scale 30s linear infinite;
    z-index: -9;
    overflow: hidden;
}

@keyframes scale {
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.signin-as {
    display: flex;
    justify-content: center;
}

/* Form */
form .input-field {
    position: relative;
}

form .input-field input {
    width: 100%;
    padding: 10px 0;
    font-size: 1.2em;
    color: var(--color-3);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--color-1);
    outline: none;
    background: transparent;
}

form .field-label {
    padding: 10px 0;
    font-size: 1.2em;
    color: var(--color-3);
    pointer-events: none;
}

form .input-field label {
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}

/* form .input-field input:valid ~ label  */
form .input-field input:focus~label,
form .input-field input:valid~label {
    top: -20px;
    left: 0;
    color: var(--color-3);
    font-size: 1em;
}

/* Radio button */
.radio-container {
    position: relative;
    padding-left: 35px;
    margin: 1em;
    cursor: pointer;
    font-size: 1.2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.2em;
    width: 1.2em;
    background-color: var(--color-3);
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input~.checkmark {
    background-color: var(--color-1);
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked~.checkmark {
    background-color: var(--color-1);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
    top: 0.3em;
    left: 0.3em;
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    background: white;
}

/* Offers */
.offers-wrapper {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0em 1em 2px var(--color-1);
    background-color: var(--color-2);
    border: 0.1em solid var(--color-1);
    flex-direction: column;
    align-items: flex-end;
    color: var(--color-4);
    padding: 1em;
    transition: 2s;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.close-offer-model{
    color: var(--color-4);
    float: right;
    font-size: 2.5em;
    width: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: -0.3em;
    
}
.close-offer-model:hover{
    cursor: pointer;
}

.offer-button{
    display: none;
}

.offer-button:hover{
    cursor: pointer;
    color: var(--color-white);
}

.offer-button i{
    margin-left: 0.5em;
}

.offer-heading{
    display: flex;
    justify-content: space-between;
}
.offer-heading i{
    font-size: 2.5em;
}

.offer-title {
    font-size: 1.3em;
    margin: 0.5em 0;
}
.offer-details{
    display: flex;
    flex-direction: column;
}