:root {
    --color-1:#b51e25;
    --color-2:#680e0e;
    --color-3:#605a5a;
    --color-4:#e9ec9d;
    --color-white:#FFFFFF;
    --color-black:#000000;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0.02em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ******************************** */
/* Default - Mobile */

.body-content {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

/* Header */
#header-wrapper,
header,
footer,
#footer-wrapper,
#intro-wrapper {
    display: flex;
    justify-content: center;
}

#header-wrapper {
    /* position: sticky;
    top:0; */
}

header{
    box-shadow: 0 0.3em 0.2em rgba(39,39,39,.2);
    width: 100%;
    background-color: var(--color-white);
}
header {
    margin: 0 0 0.2em 0;
}

.logo img{
    height: 6em;
}

.sign-in,
.menubar {
    display: none;
}

/* Header End */

/* Banner */

.banner-wrapper,
.banner {
    display: flex;
    justify-content: center;
}

.banner
img {
    width: 100%;
    height: 200px;
}
/* Banner End*/

/* Menu strip */
#menu-wrapper{
    display: flex;
    background-color: var(--color-1);
    justify-content: space-between;
    padding: 0.8em;
    position: sticky;
    top:0;
}

.menu-item,
.menu-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--color-4);
    font-size: 1em;
    cursor: pointer;
}

.menu-item a {
    font-size: large;
}

.menu-item i { 
    margin: 0.2em;
}

/* Intro */
.title p{
    font-size: 1.7em;
    color: var(--color-1);
    margin: 0.8em;
}

#intro-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro p {
    padding:0 1em;
    font-size: 1.3em;
    line-height: 1.5em;
    color: var(--color-3);
    text-align: justify;
}

.intro .intro-button {
    display: flex;
    justify-content: center;
    margin: 0.5em;
}
.primary-button{
    background-color: var(--color-1);
    color: var(--color-4);
    padding: 0.5em 1.5em;
    border: none;
    font-size: 1em;
    cursor: pointer;
}


/* Footer */
#footer-wrapper {
    background-color: var(--color-black);
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
}

.social-media {
    color: var(--color-4);
    display: flex;

}

.social-media-icon {
    width: 1.8em;
    height: 1.8em;
    border-radius: 0.5em;
    background-color: var(--color-3);
    margin: 0.3em 0.8em;
    font-size: 1em;
    display: flex;
    padding: 0.4em;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}


.copyright {
    color: var(--color-white);
    margin: 0.5em 0 0 0;
}

/* Side-nav */
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-2);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3.5em;
  }
  
  .side-nav a {
    padding: 0.5em 0.5em 0.5em 2em;
    text-decoration: none;
    font-size: 1em;
    color: var(--color-4);
    display: block;
    transition: 0.3s;
    white-space: nowrap;
  }
  
  .side-nav a:hover {
    color: var(--color-white);
  }
  
  .side-nav .closebtn {
    position: absolute;
    top: 0.2em;
    right: 0.5em;
    font-size: 2.5em;
    color: var(--color-4);
  }
  
  @media screen and (max-height: 450px) {
    .side-nav {padding-top: 1em;}
    .side-nav a {font-size: 1.5em;}
  }

  /* Book Now */
  .check-in,
  .check-out,
  .adult,
  .child {
    width: 100%;
    margin: 0.5em 0em;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    padding: 0.5em 0;
    border-bottom: 1px solid var(--color-1);
    color: var(--color-3);
    position: relative;
  }

  #checkin_calender{
    position: absolute;
    top:1.8em;
    z-index: 1;
    width: 100%;
  }

  #selected_checkin_date {
    color: var(--color-2);
  }


@media screen {
    
}