@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brandColor: hsl(193, 78%, 48%, 1);
    --bodyBgColor: #fff;
    --bodyColor: #262626;

    --sectionBg: hsl(219, 55%, 95%, 1);
    --boxBg:#e9e0e0;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --brandColor: hsl(193, 78%, 48%, 1);
      --bodyBgColor: #262626;
      --bodyColor: #fff;

      --sectionBg: hsl(229, 21%, 13%, 1);
      --boxBg:#3d3b3b;
    }
  }

  :root[data-theme="dark"] {
    --brandColor: hsl(193, 78%, 48%, 1);
    --bodyBgColor: #262626;
    --bodyColor: #fff;

    --sectionBg: hsl(229, 21%, 13%, 1);
    --boxBg:#3d3b3b;
  }

  :root[data-theme="light"] {
    --brandColor: hsl(193, 78%, 48%, 1);
    --bodyBgColor: #fff;
    --bodyColor: #262626;

    --sectionBg: hsl(219, 55%, 95%, 1);
    --boxBg:#e9e0e0;
  }
  

  :root[data-theme="custom"] {
    --brandColor: hsl(193, 78%, 48%, 1);
    --bodyBgColor: #4d70d2;
    --bodyColor: #262626;

    --sectionBg: hsl(228, 18%, 52%);
    --boxBg:#729ce6;
  }
}
