@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brandColor: hsl(193, 78%, 48%, 1);
    --bodyBgColor: #fff;
    --bodyColor: #262626;
    --fontRegularColor: hsl(252, 2%, 51%);
    --fontHeadingColor: hsl(240, 1.05%, 23.89%);
    --sectionBg: hsl(219, 55%, 95%, 1);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --brandColor: hsl(193, 78%, 48%, 1);
      --bodyBgColor: #262626;
      --bodyColor: #fff;
      --fontRegularColor: hsl(252, 2%, 51%);
      --fontHeadingColor: hsl(243, 100%, 93%);
      --sectionBg: hsl(229, 21%, 13%, 1);
    }
  }

  :root[data-theme="dark"] {
    --brandColor: hsl(193, 78%, 48%, 1);
    --bodyBgColor: #262626;
    --bodyColor: #fff;
    --fontRegularColor: hsl(252, 2%, 51%);
    --fontHeadingColor: hsl(243, 100%, 93%);
    --sectionBg: hsl(229, 21%, 13%, 1);
  }

  :root[data-theme="light"] {
    --brandColor: hsl(193, 78%, 48%, 1);
    --bodyBgColor: #fff;
    --bodyColor: #262626;
    --fontRegularColor: hsl(252, 2%, 51%);
    --fontHeadingColor: hsl(240, 1.05%, 23.89%);
    --sectionBg: hsl(219, 55%, 95%, 1);
  }

  :root[data-theme="custom"] {
    --brandColor: hsl(193, 78%, 48%, 1);
    --bodyColor: hsl(229, 44%, 50%, 1);
    --fontRegularColor: hsl(252, 2%, 51%);
    --fontHeadingColor: hsl(243, 100%, 93%);
    --sectionBg: hsl(229, 51%, 19%, 1);
  }
}
